server:
  port: 8070
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**

        - id: student-service
          uri: lb://student-service
          predicates:
            - Path=/api/students/**

        - id: teacher-service
          uri: lb://teacher-service
          predicates:
            - Path=/api/teachers/**

        - id: course-service
          uri: lb://course-service
          predicates:
            - Path=/api/courses/**

        - id: attendance-service
          uri: lb://attendance-service
          predicates:
            - Path=/api/attendance/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/service-discovery/eureka/
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers,circuitbreakerevents
  endpoint:
    health:
      show-details: always
logging:
  level:
    com.university: INFO
    org.springframework.cloud.gateway: DEBUG
  file:
    name: logs/api-gateway.log