spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/attendance_pdb
    username: system
    password: oracle123
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.university: INFO
  file:
    name: logs/attendance-service.log